@media(min-width:992px) and (max-width:1199.98px){
    .top_right a {
        padding-right: 30px;
    }
    .about_produs_txt{
        text-align: center;
    }
    /* about part */
    .about_tabs ul li a{
        padding-right: 60px;
    }
    .about_tabs h1{
        padding: 30px 0;
        text-align: center;
    }
    /* Our blog part */
    .blog_text{
        display: none;
    }
    .slick-center .blog_text{
        display: block;
    }
    .blog_text h4 span{
        font-size: 13px;
        padding-right: 15px;
    }

    /* about_us team part starts */
    .about_team_txt {
        transform: translateY(-43%);
        clip-path: polygon(0 29%, 100% 4%, 100% 100%, 0% 100%);
    }
    .slick-center .about_team_card .about_team_txt {
        transform: translateY(-29%);
        clip-path: polygon(0 20%, 100% 4%, 100% 100%, 0% 100%);
    }
      /* blog details page starts */
      .blog_list_part{
        padding: 12px;
        padding-left: 0px;
    }
    .blog_list_center #name{
        margin-right: 10px;
    }
    .blog_list_right{
        padding: 10px 5px;
    }
    .blog_list_right span{
        padding-right: 5px;
    }
    .blog_list_right a{
        padding: 5px;
        margin-right: 5px;
    }
    .page_item_blank a{
        padding: 17px 17px;
    }
    /* blog details popular tab part */
    .popular_tab_cnt span {
        padding-right: 5px;
    }
    .popular_tab_cnt p {
        padding-bottom: 14px;
    }
}
@media(min-width:768px) and (max-width:991.98px){
    .top_right a{
        padding-right: 32px;
    }
    /* about part */
    .about_tabs ul li a{
        padding-right: 90px;
    }
    .about_tabs h1{
        padding: 30px 0;
        text-align: center;
    }
    /* Our blog part */
    .blog_text{
        display: none;
    }
    .slick-center .blog_text{
        display: block;
    }
    .blog_text h4 span{
        font-size: 12px;
        padding-right: 10px;
    }
    .blog_text p{
        padding: 10px 0;
    }
    .blog_text a{
        padding: 8px;
        margin: 0 0 10px;
    }
    .blog_card{
        padding-left: 10px;
    }
    /* footer part starts */
    #footer{
        padding: 40px 0 0;
    }
    .footer_card_one{
        margin-bottom: 50px;
    }
    .footer_card_one a i {
        margin-top: 30px;
    }
    #footer h3 {
        margin-left: 0;
    }
    .account_card a {
        margin-left: 0;
    }
    /* footer part ends */

    /* about_us team part starts */
    .about_team_txt {
        transform: translateY(-25%);
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }
    .slick-center .about_team_card .about_team_txt {
        clip-path: polygon(0 14%, 100% 5%, 100% 100%, 0% 100%);
        transform: translateY(-18%);
    }
    .about_team_txt a{
        font-size: 16px;
        margin: 8px 5px 10px;
        height: 32px;
        width: 32px;
        line-height: 32px;
    }
    /* blog details page starts */
    .blog_list_left,
    .blog_list_center,
    .blog_list_right{
        padding: 15px 0;
    }
    .blog_list_left{
        padding-left: 60px;
    }
    /* blog details comment part */
    .blog_det_left_comment .reply_box{
        padding: 20px 0;
        padding-left: 10px;
    }
    /* blog details popular */
    .popular_tab_cnt p {
        padding-bottom: 5px;
    }
      /* Blog list left text */
      .blog_list_left_text{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(-11%);
        padding: 20px;
    }
    .blog_list_left_text h4{
        text-align: center;
    }
    .blog_list_left_text h4 a,
    .blog_list_left_text h4 span{
     margin: 18px 0 15px;
    }
.blog_list_left_text h4 span{
    float: none;
    padding-right: 10px;
    }
    .blog_list_left_cmn_one{
        transform: translateY(-2%);
    }
    .blog_list_left_cmn_two{
        transform: translateY(-4%);
    }
    .blog_list_left_text .read_more {
        font-size: 14px;
        padding: 13px;
        margin-top: 25px;
    }
}
@media(min-width:576px) and (max-width:991.98px){
    .contact_page_third_card{
        border-right: none;
        margin-top: 30px;
    }
    .contact_page_second_card{
        border-right: none;
    }
}
@media(min-width:576px) and (max-width:767.98px){
    /* banner part */
    .banner_cnt{
        align-self: center;
    }
    /* about part */
    .about_tabs ul li a{
        padding-right: 60px;
    }
    /* portfolio_bottom part */
    .port_btm_card h3{
        font-size: 25px;
    }
    .port_btm_card p{
        font-size: 18px;
    }
    /* about_us team part starts */
    .slick-center .about_team_card .about_team_txt {
        clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
        transform: translateY(-47%);
    }
    /* blog details page starts */
    .blog_list_left,
    .blog_list_center,
    .blog_list_right{
        padding: 15px;
    }
    /* blog details popular tab */
    .popular_tab_cnt p{
        padding-bottom: 50px;
    }
     /* Blog list left text */
     .blog_list_left_text{
        transform: translateY(-25%);
     }
     .blog_list_left_cmn_two{
        margin-bottom: -260px;
    }
    .blog_list_left_text .read_more {
        font-size: 14px;
        padding: 14px;
        margin-top: 25px;
    }
}
@media(min-width:451px) and (max-width:600.99px){
    /* our blog part */
    .blog_card{
        padding-left: 0px;
    }
    .blog_card{
        padding: 80px;
    }
}
@media(max-width:1400px){
    #about_page_banner .banner_cnt {
        align-self: center;
    }
}
@media(max-width:1200px){
    #our_mission .about_image{
        margin-right: -42px;
    }
    /* about_page about_produstry starts */
    .about_produs_txt h1{
        padding-top: 30px;
    }
    /* about_us our mission */
   #our_mission .about_produs_txt{
    padding-bottom: 30px;
}
}
@media(max-width:900px){
    /* banner part start */
    .slider{
        height: 350px;
    }
    .pogoSlider{
        height: 350px;
    }
    .banner_cnt h1{
        font-size: 25px;
    }
    .banner_cnt p{
        margin: 15px 0 30px;
    }
    .banner_cnt{
        align-self: flex-start;
    }
    .banner_cnt a{
        font-size: 16px;
        padding: 10px;
        margin-right: 15px;
        display: inline-block;
    }
    /* banner part end */
}
@media(max-width:991px){
    .navbar {
        padding: 5px 0;
    }
}
@media(max-width:991.98px){
    /* top part */
    .top_center{
        transform: skewX(0deg);
    }
    .top_center .welcome_txt{
        transform: skewX(0deg);
    }
    .top_left p,
    .top_right .social_icon{
        text-align: center;
        padding: 10px 0;
    }
    /* nav part */
    .navbar ul li{
        margin: auto;
    }
    /* blog details comment box */
    .blog_det_left_comment h5{
        padding-top: 15px;
    }
}
@media(min-width:992px){
    /* nav part */
    #mynav ul{
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }
    .menuactive{
        opacity: 1 !important;
        visibility: visible !important;
    }
    .navbar .container{
        position: relative;
    }
    .logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        transition: .5s ease-in-out;
    }
    .logoactive{
        left: 0%;
        transform: translate(0%);
    }
    /* blog list left content */
    .blog_list_left_cmn_two{
        margin-bottom: -260px;
    }
    /* contact page newsletter form */
    .contact_newsletter_form {
        margin-left: 125px;
    }
}
@media(max-width:767px){
    /* Footer part start */
    #footer{
        padding: 40px 0 0;
    }
    .footer_card_one{
        text-align: center;
        border-bottom: 1px solid #dddddd;
        padding-bottom: 15px;
    }
    .footer_card_two{
        text-align: center;
        border-bottom: 1px solid #dddddd;
        padding: 10 0;
    }
    .account_card{
        text-align: center;
        padding: 10px 0 15px;
        border-bottom: 1px solid #dddddd;
    }
    .latestNews_card {
        text-align: center;
    }
    #footer .latest_img{
        margin-bottom: 10px;
    }
    #footer .latest_txt{
        margin-bottom: 40px;
    }
    /* Footer part ends */

    /* About us page banner */
    #about_page_banner .banner_cnt h2{
        font-size: 25px;
    }
    /* blog details popular tab */
    .blog_cnt_right input{
        margin-top: 30px;
    }
}
@media(max-width:567px){
    /* about part */
    .about_tabs ul li a{
        font-size: 14px;
        color: #353535;
        font-weight: 500;
        padding-right: 10px;
        text-transform: uppercase;
        position: relative;
    }
    .tab_active::after{
        width: 70px;
    }
}
@media(max-width:575px){
    /* portfolio_bottom part */
    .port_btm_card h3{
        font-size: 24px;
    }
    .port_btm_card p{
        font-size: 16px;
    }
    .portfolio_overlay h3{
        font-size: 16px;
    }
    /* about_us produstry */
    #about_pro{
        margin: 60px 0;
    }
    /* blog details page starts */
    .blog_list_part{
        padding: 12px;
        padding-left: 0px;
    }
    .blog_list_left{
        padding: 10px 5px;
    }
     .blog_list_center{
        padding: 10px 5px;
    }
    .blog_list_center #name{
        margin-right: 10px;
    }
    .blog_list_right{
        padding: 10px 5px;
    }
    .blog_list_right span{
        padding-right: 5px;
    }
    .blog_list_right a{
        padding: 5px;
        margin-right: 5px;
    }
    .page_item_blank a{
        padding: 17px 17px;
    }
    /* blog details comment box */
    .blog_det_left_comment .reply_box{
        padding-left: 50px;
    }
    /* blog details form */
    .blog_det_left_form input{
        margin-bottom: 10px;
    }
    /* blog details popular tab */
    .popular_tab_cnt p{
        padding: 10px 0;
    }
    /* Blog list left text */
    .blog_list_left_text{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(-10%);
        padding: 12px;
    }
    .blog_list_left_text .read_more{
        font-size: 13px;
        padding: 8px;
        margin-top: 15px;
    }
    .blog_list_left_text h4{
        text-align: center;
    }
    .blog_list_left_text h4 a,
    .blog_list_left_text h4 span{
     margin: 18px 0 15px;
    }
.blog_list_left_text h4 span{
    float: none;
    padding-right: 10px;
    }
    .blog_list_left_cmn_one{
        transform: translateY(-2%);
    }
    .blog_list_left_cmn_two{
        transform: translateY(-4%);
    }
    /* contact page contact part */
    .contact_page_card {
        border: none;
        padding-right: 20px;
        margin-bottom: 25px;
    }
}
@media(max-width:450px){
    /* our blog part */
    .blog_card{
        padding-left: 0px;
    }
    .blog_card{
        padding: 5px;
    }
    .blog_text h4 span{
        padding-right: 20px;
    }
    /* Testimonial part starts */
    .testi_txt p{
        font-size: 16px;
        padding: 10px 0 15px;
    }
    .testi_txt h4{
        font-size: 18px;
    }
    .testi_txt h3{
        font-size: 16px;
        padding: 5px 0;
    }
    .testi_txt i{
        font-size: 14px;
    }
    #testi .testi_img_slide .slick-track{
        opacity: 1;
        padding: 25px 18px;
        width: 1224px;
        transform: translate3d(-594px, 0px, 0px);
    }
}
@media(max-width:340px){
    .slick-center .about_team_card .about_team_txt {
        width: 100% !important;
        transform: translateY(-30%);
        clip-path: polygon(0 20%, 100% 4%, 100% 100%, 0% 100%);
    }
}

